@charset 'utf-8';
* {
  padding: 0px;
  margin: 0px;
}
#bg {
  height: 600px;
  background-color: #333;
  position: relative;
}
.box {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) perspective(800px) rotate3d(0, 0, 0, 0deg);
  cursor: grabbing;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.side {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid yellow;
  width: 200px;
  height: 200px;
  color: white;
  position: absolute;
  transform-style: preserve-3d;
}
.box-grabbing {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.font {
  background-image: url('../images/flash_64px_1204936_easyicon.net.ico');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: translateZ(100px);
}
.back {
  transform: translateZ(-100px);
}
.top {
  transform: rotateX(90deg) translateZ(100px);
}
.bottom {
  transform: rotateX(90deg) translateZ(-100px);
}
.left {
  transform: rotateY(90deg) translateZ(100px);
}
.right {
  transform: rotateY(-90deg) translateZ(100px);
}
